@font-face {
    font-family: 'Alegreya';
    src: local('Alegreya Bold'), local('Alegreya-Bold'),
    url('/fonts/alegreya/Alegreya-Bold.woff2') format('woff2'),
    url('/fonts/alegreya/Alegreya-Bold.woff') format('woff'),
    url('/fonts/alegreya/Alegreya-Bold.ttf') format('truetype'),
    url('/fonts/alegreya/Alegreya-Bold.svg#Alegreya-Bold') format('svg'),
    url('/fonts/alegreya/Alegreya-Bold.eot') format('embedded-opentype'),
    url('/fonts/alegreya/Alegreya-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: local('Alegreya Regular'), local('Alegreya-Regular'),
    url('/fonts/alegreya/Alegreya-Regular.woff2') format('woff2'),
    url('/fonts/alegreya/Alegreya-Regular.woff') format('woff'),
    url('/fonts/alegreya/Alegreya-Regular.ttf') format('truetype'),
    url('/fonts/alegreya/Alegreya-Regular.svg#Alegreya-Bold') format('svg'),
    url('/fonts/alegreya/Alegreya-Regular.eot') format('embedded-opentype'),
    url('/fonts/alegreya/Alegreya-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
    url('/fonts/playfair-display/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('/fonts/playfair-display/PlayfairDisplay-Bold.woff') format('woff'),
    url('/fonts/playfair-display/PlayfairDisplay-Bold.ttf') format('truetype'),
    url('/fonts/playfair-display/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg'),
    url('/fonts/playfair-display/PlayfairDisplay-Bold.eot') format('embedded-opentype'),
    url('/fonts/playfair-display/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('/fonts/proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
    url('/fonts/proxima-nova/ProximaNova-Regular.woff') format('woff'),
    url('/fonts/proxima-nova/ProximaNova-Regular.ttf') format('truetype'),
    url('/fonts/proxima-nova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
    url('/fonts/proxima-nova/ProximaNova-Regular.eot') format('embedded-opentype'),    
    url('/fonts/proxima-nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Scriptina';
    src: local('Scriptina'),
    url('/fonts/scriptina/Scriptina.woff2') format('woff2'),
    url('/fonts/scriptina/Scriptina.woff') format('woff'),
    url('/fonts/scriptina/Scriptina.ttf') format('truetype'),
    url('/fonts/scriptina/Scriptina.svg#Scriptina') format('svg'),
    url('/fonts/scriptina/Scriptina.eot') format('embedded-opentype'),
    url('/fonts/scriptina/Scriptina.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --Alegreya: 'Alegreya';
    --PlayfairDisplay: 'PlayfairDisplay';
    --ProximaNova: 'Proxima Nova';
    --Scriptina: 'Scriptina';
    --white: #ffffff;
    --blue: #039be5;
    --yellow: #fbdc4d;
    --red: #ea736d;
    --text: #161616;
    --linkedin: #0077b5;
    --github: #212121;
    --github-h: #6cc644;
    --vk-bg: #4d76a1;
    --vk-h: #3c7dcc;
    --whatsapp: #43d854;
    --whatsapp-h: #128c7e;
    --telegram: #039be5;
    --telegram-h: #006699;
    --facebook: #3b5998;
    --facebook-h: #263b68;
    --btn-yl-h: #ffd200;
    --btn-yl-a: #e1bc10;
    --btn-gr-h: #797979;
    --btn-gr-a: #181818;
    --btnfont: #464646;
    --mail: #000;
    --mail-h: #44aae9;
    --mail-a: #ea655f;
    --btn-a: #d4423b;
    --h3-h: #ed574f;
    --footer: #b0b0b0;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: var(--text);
}

a,
a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-size: 25px;
}

h1 {
    font-family: var(--Alegreya);
    font-weight: 700;
}

h2 {
    font-family: var(--Alegreya);
    font-weight: 400;
}

h3 {
    font-family: var(--PlayfairDisplay);
}

h4 {
    font-family: var(--ProximaNova);
    font-weight: 400;
}

h5 {
    font-family: var(--Scriptina);
}