@font-face {
    font-family: 'Alegreya-bold', serif;
	src: url('/fonts/alegreya/Alegreya-bold.eot');
	src: local('☺'), url('/fonts/alegreya/Alegreya-bold.woff') format('woff'), url('/fonts/alegreya/Alegreya-bold.ttf') format('truetype'), url('/fonts/alegreya/Alegreya-bold.svg') format('svg');
	font-weight: bold;
	font-style: 400;
}

@font-face {
	font-family: 'Alegreya-regular', serif;
	src: url('/fonts/alegreya/Alegreya-regular.eot');
	src: local('☺'), url('/fonts/alegreya/Alegreya-regular.woff') format('woff'), url('/fonts/alegreya/Alegreya-regular.ttf') format('truetype'), url('/fonts/alegreya/Alegreya-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


:root {
    --fontAlegreya: 'Alegreya-bold';
    --fontAlegreya: 'Alegreya-regular';
    --white: #ffffff;
    --blue: #039be5;
    --yellow: #fbdc4d;
    --red: #ea736d;
    --text: #161616;
    --linkedin: #0077b5;
    --github: #212121;
    --github-h: #6cc644;
    --vk-bg: #4d76a1;
    --vk-h: #3c7dcc;
    --whatsapp: #43d854;
    --whatsapp-h: #128c7e;
    --telegram: #039be5;
    --telegram-h: #006699;
    --facebook: #3b5998;
    --facebook-h: #263b68;
    --btn-yl-h: #ffd200;
    --btn-yl-a: #e1bc10;
    --btn-gr-h: #797979;
    --btn-gr-a: #181818;
    --btnfont: #464646;
    --mail: #000;
    --mail-h: #44aae9;
    --mail-a: #ea655f;
    --btn-a: #d4423b;
    --h3-h: #ed574f;
    --footer: #b0b0b0;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: var(--fontAlegreya);
    font-size: 18px;
    font-weight: 400;
    color: var(--text);
}

a,
a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 400;
}