.breakfast {
    height: 61vh; /* удалить после завершения стилизации */
    background-image: url(/img/breakfast/breakfast.jpg);
    background-size: cover;
}

.breakfast-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.breakfast-menu {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
}