.breakfast {
    height: 61vh;
    background-image: url(/img/breakfast/breakfast.jpg);
    background-size: cover;
}

.breakfast-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}