.breakfast {
    padding: 90px 0;
    background-image: url(/img/breakfast/breakfast.jpg);
    background-size: cover;
}

.breakfast-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.breakfast-column-left {
    display: grid;
    justify-items: center;
    color: #fff;
}

.breakfast-menu {
    display: grid;
    grid-template-rows: repeat(9, auto);
    justify-items: center;
    font-family: var(--Alegreya);
}

.breakfast-title {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
}

.breakfast-subtitle {
    margin-bottom: 60px;
    font-family: var(--Alegreya);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #c8a593;
}

.breakfast-menu__name {
    margin-bottom: 4px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.breakfast-menu__description {
    margin-bottom: 18px;
    font-family: var(--ProximaNova);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: #c2beba;
}

.breakfast-menu__cost {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1.8px;
    line-height: 1;
    color: #dfc691;

    &:last-child {
        margin-bottom: 0;
    }

}

.breakfast-column-right {
    display: grid;
    justify-items: center;
    // Временные параметры, после наполнения контейнера - убрать.
    width: 445px;
    height: 600px;
    background: #f3f1e9;
}

