.cakes-wrapper {
    display: grid;
    grid: auto / repeat(2, auto);
    justify-items: center;
}

.cakes-column-left {
    text-align: center;
}

.cakes-column-right {
    width: 615px;
}

.cakes-title {
    margin-top: 90px;
    font-family: var(--Alegreya);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #56534c;
}

.cakes-subtitle {
    margin-bottom: 50px;
    font-family: var(--Alegreya);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #a47d5e;
}

.cakes-text>p {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 1.4px;
    color: #56534c;
}

.cakes-chef {
    margin-bottom: 40px;
    font-family: var(--Alegreya);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #56534c;
}

.cakes-chef-content {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: center;
    row-gap: 50px;
}

.cakes-chef-name>p {
    padding-top: 15px;
    padding-bottom: 20px;
    font-family: var(--Alegreya);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.6px;
    color: #56534c;
    border-top: 1px #d7d5ca solid;
    border-bottom: 1px #d7d5ca solid;
    width: 115px;
    text-align: center;
}

.cakes-chef-foto>img {
    box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.93);
    background-color: #9e9c93;
    border-radius: 50%;
}

.chef-perf {
    position: relative;
    top: -30%;
    font-family: "Times New Roman", Times, serif; 
    font-size: 60px;
    color: #56534c;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.chef-speech {
    max-width: 245px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.6px;
    color: #a47d5e;
}

.chef-perf__right {
    top: 30%;
    transform: scale(1, -1);
}