.cakes {
    padding-bottom: 117px;
    background-image: url(/img/cakes/cake-bg.jpg);
    background-repeat: repeat-x;
    background: linear-gradient(-135deg, #f8f6f4, #fdfbf8);
}

.cakes-wrapper {
    display: grid;
    grid: repeat(2, 1fr) / auto;
    justify-items: center;

	@media(min-width: 1024px) {
        grid: auto / repeat(2, 1fr);
    }

}

.cakes-column-left {
    text-align: center;
}

.cakes-title {
    margin-top: 75px;
    font-family: var(--Alegreya);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #56534c;

	@media(min-width: 1024px) {
		margin-top: 90px;
		font-size: 48px;
	}

}

.cakes-subtitle {
    margin-bottom: 40px;
    font-family: var(--Alegreya);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #a47d5e;

	@media(min-width: 1024px) {
		margin-bottom: 60px;
		font-size: 14px;
	}

}

.cakes-text>p {
    margin: 0 auto 45px;
	max-width: 250px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 1.6px;
    color: #56534c;
	text-align: center;

	@media(min-width: 1024px) {
		margin-bottom: 35px;
		max-width: unset;
		font-size: 14px;
		letter-spacing: 1.4px;
		text-align: unset;
	}

}

.cakes-chef {
    margin-bottom: 16px;
    font-family: var(--Alegreya);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: #56534c;

	@media(min-width: 768px) {
		margin-bottom: 44px;
	}

}

.cakes-chef-content {
    margin-bottom: -8px;
    display: grid;
    grid-template: auto / repeat(3, auto);
    align-items: center;
    justify-items: center;
    row-gap: 50px;
}

.cakes-chef-name {
    justify-self: end;
}

.cakes-chef-name__s {
    justify-self: start;
}

.cakes-chef-name>p {
    padding: 5px;
    font-family: var(--Alegreya);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.6px;
    color: #56534c;
    border-top: 1px #d7d5ca solid;
    border-bottom: 1px #d7d5ca solid;
    width: 100px;
    text-align: center;

	@media(min-width: 768px) {
		padding-top: 15px;
    	padding-bottom: 20px;
		padding-left: 0;
		padding-right: 0;
		font-size: 24px;
		width: 115px;
	}
}

.cakes-chef-foto {
	padding: 8px;

	@media(min-width: 768px) {
		padding: unset;
	}

}

.cakes-chef-foto>img {
    box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.15);
    background-color: #9e9c93;
    border-radius: 50%;
}

.cakes-chef-speech {
	margin-top: 45px;
    display: grid;
    grid-template: auto / repeat(3, auto);
    align-items: center;
    justify-items: center;
    
	@media(min-width: 768px) {
		margin-top: 40px;
	}

}

.chef-perf {
    position: relative;
    top: -36%;
    left: 10%;
    font-family: "Times New Roman", Times, serif; 
    font-size: 48px;
    color: #56534c;
    font-weight: 400;
    letter-spacing: 1.5px;

	@media(min-width: 768px) {
		font-size: 60px;
	}

}

.chef-speech {
    max-width: 245px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.6px;
    color: #a47d5e;

	@media(min-width: 768px) {
		font-size: 24px;
	}

}

.chef-perf__right {
    top: 45%;
    left: -8%;
    transform: scale(1, -1);
}

.cakes-column-right {
    margin-left: -5px;
    position: relative;
}

.cakes-right-grid {
    margin-top: 121px;
    position: relative;
    display: grid;
    grid-template-areas:"cell-one cell-two"
                        "cell-three cell-four";
    justify-content: center;
    gap: 8px;

	@media(min-width: 768px) {
		gap: 20px;
	}

}

.cakes-cell {
    outline: 5px solid #fff;
    outline-offset: -12px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05)
}

.cakes-cell-one {
    grid-area: cell-one;
}

.cakes-cell-two {
    grid-area: cell-two;
}

.cakes-cell-three {
    grid-area: cell-three;
}

.cakes-cell-four {
    grid-area: cell-four;
}

.tastes-svg {
    width: 127px;
	height: 127px;
	filter: drop-shadow(2px 7px 8px rgba(59, 37, 29, 0.5));
     
	@media(min-width: 768px) {
		width: 250px;
    	height: 250px;
		filter: drop-shadow(5px 16px 10px #3b251d);	
	}

}

.cakes-svg-1 {
    fill: #f3ede9;
}

.cakes-svg-2 {
    fill: none;
    stroke: #f3ede9;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.cakes-cell-five>p {
    color: red;
}

.cakes-cell__tastes {
    display: grid;
    grid: auto/ auto;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    &::before {
        content: "TASTES SO GOOD!";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-48%, -39%);
        z-index: 1;
        font-family: var(--Alegreya);
        line-height: 1.2;
        letter-spacing: 1.5px;
        color: #c9b176;
        text-align: center;
        font-size: 14px;
        width: 130px;

		@media(min-width: 768px) {
			transform: translate(-50%, -50%);
			font-size: 30px;
			width: 156px;
		}

    }

	

}