.cakes-wrapper {
    display: grid;
    grid: auto / repeat(2, auto);
    justify-items: center;
}

.cakes-title {
    font-family: var(--Alegreya);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #56534c;
}

.cakes-subtitle {
    font-family: var(--Alegreya);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #a47d5e;
}