.footer {
    padding: 16px 0;
    background-color: #f3f1e9;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.footer-list {
    padding: 23px 20px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    border-top: 1px solid #c2beba;
    border-bottom: 1px solid #c2beba;
}

.footer-list__item {
    font-family: var(--Alegreya);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    color: #56534c;

    &:hover {
        color: #56534c7e;
        transition: .5s;
    }

}

.footer-logo  a {
    margin-top: 22px;
    display: grid;
    justify-content: center;
    color: #56534c;

    &:hover {
        color: #56534c7e;
        transition: .5s;
    }

}
