.footer {
    padding-top: 13px;
    padding-bottom: 27px;
    background-color: #f3f1e9;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.footer-list {
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    border-top: 1px solid #c2beba;
    border-bottom: 1px solid #c2beba;

    font-family: var(--Alegreya);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4.2px;
    text-transform: uppercase;
}

.footer-list__item {
    color: #56534c;

    &:hover {
        color: #56534c79;
        transition: .5s;
    }

}


.footer-logo a {
    margin-top: 17px;
    display: grid;
    justify-content: center;
    color: #56534c;

    &:hover {
        color: #56534c79;
        transition: .5s;
    }

}
