.header {
    color: var(--mainBg);
    background-color: #9e9c93;
    background-image: url(../img/header/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(86, 83, 76, 0.529);
}

.header-content {
    height: 830px;
}