.nav-menu {
    position: relative;
    z-index: 1;
    padding-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr minmax(auto, 800px) 1fr minmax(auto, 100px);
    align-items: baseline;
}

.nav-menu__logo {
    font-family: var(--Scriptina);
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 9px;
    line-height: 1;
}

.nav-menu__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
}

.nav-menu__link {
    font-family: var(--Alegreya);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    color: var(--mainBg);
}

.nav-menu__social {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.nav-menu__social a {
    font-size: 20px;
    color: var(--mainBg);
}