.nav-menu {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
}

.nav-menu__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(9, minmax(auto, 800px));
}

.nav-menu__social {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.nav-menu__social a {
    color: black;
}