.nav-menu {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(auto, 150px) minmax(auto, 800px)  minmax(auto, 100px);
}

.nav-menu__logo {
    margin-right: 100px;
}

.nav-menu__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(9, 1fr);
}

.nav-menu__social {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.nav-menu__social a {
    color: black;
}