.pancakes {
    background-image: url(/img/pancakes/pancakes_bg.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
}

.pancakes-content {
    display: grid;
    grid-template-areas:"cell-one cell-two"
                        "cell-three cell-four";
}

.pancakes-left-column {
    grid-area: left-column;
}