.pancakes {
    padding-top: 141px;
    padding-bottom: 106px;
    background-image: url(../img/pancakes/pancakes_bg_m.jpg);
    background-repeat: no-repeat;
    background-size: cover;

	@media(min-width: 768px) {
		background-image: url(../img/pancakes/pancakes_bg.jpg);
	}
}

.pancakes-content {
    display: grid;
    grid-template-areas:"right-column"
						"left-column";
    max-width: 954px;
    box-shadow: 3px 2px 40px 4px rgba(0, 0, 0, 0.3);
    border: 0px dashed #ffffff00;
    border-bottom-left-radius: 97px;

	@media(min-width: 768px) {
		margin-left: 98px;
		grid-template-areas:"left-column right-column";
		grid-template-columns: minmax(auto, 55%) minmax(auto, 56%);
	}

}

.pancakes-left-column {
    position: relative;
    grid-area: left-column;
}

.pancakes-right-column {
    padding-top: 66px;
    padding-left: 60px;
    grid-area: right-column;
    position: relative;
    background-image: url(/img/pancakes/windmill.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 100% 100%;
}

.pancakes-title {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #56534c;
}

.pancakes-subtitle {
    margin-bottom: 53px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #a47d5e;
}

.pancakes-text {
    margin-bottom: 52px;
}

.pancakes-text>p {
    max-width: 360px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    color: #56534c;
    text-align: left;
}

.main-stars {
    margin-bottom: 34px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, auto);
    column-gap: 10px;
    justify-items: start;
    max-width: 107px;
}

.slider-button {
    display: none;
    grid: auto / auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -45%);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    align-content: center;
    justify-content: center;
    background-color: #fff;

	@media(min-width: 768px) {
		display: grid;
	}

}

.slider-button__img {
    width: 10px;
    height: 19px;
}

.rating-stars-l {
    display: grid;
    grid-template-rows: 5fr;
    grid-template-columns: 1fr;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(151%, -52%);
}

.rating-stars-l__unit {
    margin-top: 10px;
}

.pancakes-slider {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 32px 1fr 32px;
    max-width: 412px;
    justify-items: center;
    align-items: center;
}


.pancakes-slider-carousel {
    width: 110px;
    margin: 0 auto;

	@media(min-width: 768px) {
		width: 330px;
	}

}

.pancakes-slider__wrapper {
    display: grid;
    grid-row: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-right: 5px
}

.owl-carousel .owl-nav button.owl-prev span {
    display: none;
}

.pancakes-slider-carousel .owl-carousel .owl-nav button.owl-prev {
    width: 32px;
    height: 32px;
    background-image: url(../img/pancakes/arrow-left.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-150%, 100%);
    outline: none;
    transition: 0.5s ease;

    &:hover {
        transition: 1s;
        background-image: url(/img/pancakes/arrow-left-active.png);
    }

}

.owl-carousel .owl-nav button.owl-next span {
    display: none;
}

.pancakes-slider-carousel .owl-carousel .owl-nav button.owl-next {
    width: 32px;
    height: 32px;
    background-image: url(../img/pancakes/arrow-right.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(150%, 100%);
    outline: none;
    transition: 0.5s ease;

    &:hover {
        transition: 1s;
        background-image: url(/img/pancakes/arrow-right-active.png);
    }

}

.pancakes-slider-carousel .owl-carousel .owl-dots {
    margin: 0 auto;
    margin-top: 6px;
    width: 56px;
}

.owl-carousel .owl-dots button.owl-dot {
    margin-right: 10px;
    border: 1.5px solid #d8bba3;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    outline: none;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background: #d8bba386;
        transition: .5s;
    }

}

.owl-carousel .owl-dots button.owl-dot.active {
    background: #d8bba3;
    
    &:hover {
        background-color:#d8bba380;
        transition: .5s;
    }
}

.pancakes-timer {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(8%, -39%);
        
    width: 100px;
    height: 100px;
    background-image: url(/img/pancakes/field.png);
    background-color: #fff;
	background-size: cover;
    box-shadow: 14px -13px 58px 3px rgba(105, 80, 58, 0.3);

    font-family: var(--Alegreya);
    font-weight: 700;
    letter-spacing: 1.8px;


	@media(min-width: 768px) {
		transform: translate(56%, -21%);
		width: 200px;
    	height: 200px;
		background-size: unset;
		box-shadow: -5px 5px 56px 2px rgba(105, 80, 58, 0.5);
	}

}

.pancakes-timer__wrapper {
    margin-top: 17px;
    display: grid;
    justify-items: center;

	@media(min-width: 768px) {
		margin-top: 26px;
		grid-template-rows: 20px 102px 20px;
	}

}

.pancakes-timer-ready {
    font-size: 9px;
    color: #a47d5e;
    text-transform: uppercase;

	@media(min-width: 768px) {
		font-size: 18px;
	}

}

.pancakes-timer-digit {
    padding-bottom: 4px;
    font-size: 39px;
    color: #dfc691;
    line-height: 1;

	@media(min-width: 768px) {
		padding-top: 4px;
		padding-bottom: unset;
		font-size: 92px;
	}
		
}

.pancakes-timer-min {
    font-size: 13px;
    color: #979285;

	@media(min-width: 768px) {
		font-size: 18px;
	}

}